.form {
  min-height: 50vh;
  background-color: #1879ca;
  padding: 16px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif !important;
}

@media only screen and (min-width: 1024px) {
  .form {
    background-image: url(https://cdn2.rcstatic.com/com.rentalcars.185492029745.eu-west-1.web.prod.static-live/images/landing-pages/home/background-large.jpg);
  }
}

.form-title {
  color: white;
}

.input-container {
  background-color: #ffb700;
  border-radius: 12px;
  padding: 4px;
  position: relative;
  display: flex;
}

.icon-input {
  position: relative;
  display: flex;
  border-radius: inherit;
  align-items: center;
  background-color: white;
  width: 100%;
}

.icon-input i {
  position: absolute;
  left: 16px;
  right: auto;
}

.input {
  width: 100%;
  height: 64px;
  border-radius: inherit;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding-left: 44px;
}

/* //////////////////////////////////////////// */

ul {
  list-style: none;
  background-color: white;
  margin: 4px;
  margin-top: 0;
  padding-left: 0;
  box-shadow: 0 calc(4px / 2) calc(4px * 2) rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.li-element {
  padding: 12px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.li-place-type {
  min-width: 5.1rem;
  padding: 0.3rem 0;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
}

.City {
  background-color: #0071c2;
  color: #fff;
}
.Airport {
  background-color: #ff8000;
  color: #262626;
}
.Station {
  background-color: #1879ca;
  color: #fff;
}
.District {
  background-color: #008009;
  color: #fff;
}
.Region {
  background-color: #f1c74c;
  color: #222;
}

.li-place-info {
  padding-left: 12px;
}

.li-place-name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.li-place-description {
  margin: 0;
  color: #474747;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
